/* Allgemeine Einstellungen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Container */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.image img {
    width: 240px; /* Setzt die Breite des Bildes */
    height: 240px; /* Setzt die Höhe des Bildes gleich der Breite */
    border-radius: 50%; /* Macht das Bild rund */
    object-fit: cover; /* Sorgt dafür, dass das Bild den Container ausfüllt */
    object-position: 0% 35%; /* 0% bedeutet links, 10% bedeutet 10% von oben */
}

.intro {
    flex: 1;
    margin-left: 20px;
}

.intro h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.intro .title {
    font-size: 1.2rem;
    color: #777;
    margin-bottom: 20px;
}

.intro .quote {
    font-style: italic;
    color: #555;
}

/* Sektionen */
h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #2a5d84;
}

ul {
    list-style-type: none;
    margin-bottom: 20px;
}

ul li {
    font-size: 1.1rem;
    line-height: 1.6;
}

/* Berufserfahrung */
.job {
    margin-bottom: 20px;
}

.job h3 {
    font-size: 1.6rem;
    color: #333;
}

.job ul {
    margin-left: 20px;
}

/* Links */
a {
    color: #2a5d84;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}